body {
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

body.theme-one {
    background-color: #87CEEB; 
    color: #654321; 
}

body.theme-two { 
    color: #FFFFFF; 
}

select {
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.theme-two .header {
    color:black;
}

.name {
    color: peachpuff;
}

.messages {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 10px 0px;
    padding: 20px;
}

#main {
    margin: 30px;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
}

.message {
    padding: 5px;
}

.right {
    align-self: flex-end;
    background-color: lightblue;
}
.theme-two .right{
    background-color:#8B0000;
}

.left {
    align-self: flex-start;
    background-color: burlywood;
}
.theme-two .left {
    background-color: black;
}

